#container_principal{
    width: 100%;
    margin:0 auto;
    text-align: justify;
    max-width: 1000px;
    padding: 100px;

}
body{
    background-color: var(--main-bg-color);
}
#titulo_pagina{

color: white;
    background-color:var(--color-primary);
    border-radius: 15px;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
}
.post_artigos{
    text-align: justify;
    padding: 20px;
    
}
h3{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.titulo_artigos{
    margin-top: 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.texto_artigos{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-top: 50px;
}

