:root {
    --color-primary: #ED0E64;
    --color-secondary:#fce4ec;
    --main-bg-color:#FFFAF0;
}

#carroussel img {
    opacity: 0;
    transition: opacity 1s;
}

.active{
    opacity: 1 !important;
}

main {
    background-color:var(--main-bg-color);
    color:#212121;
}

#containerCardsArticles, #containerCardsCuriosities{
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
}

#containerCardsArticles a, #containerCardsCuriosities a {
    color:#212121;
}

.cardArtigo{
    min-width: 300px; 
    width: 23.5%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
    font-size: 14px;
    text-align: left;
}
.cardArtigo img {
    border-radius: 8px;
}

.paragrafoCardArtigo{
    display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 9; /* Número desejado de linhas */
}

@media screen and (max-width: 600px) {
    main{
        min-width: 600px;
        margin: 0 auto;
    }
    header {
        height: fit-content;
    }
    #moldura-exterior{
        display: flex;
        flex-direction: column;
        /* border: 2px solid;  */
        height: 100%; 
        width: 100%;
    }
    #moldura-exterior div:nth-child(1){
        width: 100%;
       /*  border: 1px solid; */
        padding: 5px;
    }
    #moldura-exterior div:nth-child(2){
        width: 100%;
    }
    #moldura-exterior div:nth-child(2) ul{
        list-style: none; 
        display: flex; 
        align-items: start; 
        justify-content: space-between; 
        flex-direction: column;
     /*    border: 2px solid; */
        height: 100%;
        width: 100%;
    }
    #moldura-exterior div:nth-child(2) ul li{
        padding: 5px;
       /*  border: 1px solid; */
        width: 100%;
    }
    .containerCards{
        width: 100%;
    }
    .cardArtigo{
       /*  min-width: 316.5px; */
        width: 100%;
    }
}