main {
    background-color:var(--main-bg-color);
    color:#212121;
    margin: 0px auto;
    max-width: 1350px;
}

.sectionCarrousel{
    position: relative; 
    height: fit-content;
}

#carroussel{
    position: relative; 
    z-index: 0; 
    width: 100%; 
    height: 600px; 
    overflow: hidden;
}

#carroussel img {
    opacity: 0;
    transition: opacity 1s;
    width: 100%;
    object-position: 0px -50px
}

#anteriorImagem,
#proximaImagem{
    position: absolute; 
    z-index: 1;
    margin-top: 65px;
    height: 500px; 
    background-color: rgba(0,0,0, 0.0); 
    padding: 15px; 
    color: #fff; 
    font-size: 40px;
    top: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-shadow: 0px 0px 7px rgba(0,0,0, 0.9);
}

#anteriorImagem{
    left: 0px; 
}

#proximaImagem{
    right: 0px; 
}

.active{
    opacity: 1 !important;
}

/*Estilização banner pagina principal */
.banner {
    position: relative; 
    height: 400px; 
    padding: 180px 0px 150px 0px; 
    background-color: #fff; 
    background-image: url(/img/images_3.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
    overflow: hidden;
}

.banner-div {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: absolute; 
    background-color: rgba(58,51,173, 0.7); 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%;
}

.banner-text {
    display: flex; 
    flex-direction: column; 
    gap: 10px;
    height: fit-content; 
    align-items: center;
}

.banner-text p {
    margin: 0px auto; 
    color: #ffffff; 
    font-size: 40px;
}


#containerCardsArticles, #containerCardsCuriosities{
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
}

#containerCardsArticles a, #containerCardsCuriosities a {
    color:#212121;
}

.cardArtigo{
    min-width: 300px; 
    width: 23.5%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
    font-size: 14px;
    text-align: left;
}

.cardArtigo img {
    border-radius: 8px;
}

.paragrafoCardArtigo{
    display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 9; /* Número desejado de linhas */
}

#sectionAlbum{
    padding: 40px 20px; 
    height: 530px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
}

#molduraImagem {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/img/background_album_bebe.jpeg);
    background-size: cover;
    opacity: 0.5;
}

#molduraImagem > img{
    width: 100%;
    opacity: 0.5;
}

#sectionAlbum h2{
    text-align: center;
}

.flexAlignColumCenter{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#button{
    border: 0;
    padding: 12px 40px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer; 
    width: fit-content;
    transition: background-color 0.5s linear;
}

#button:hover {
    opacity: 0.5;   
}

@media screen and (max-width: 600px) {
    #carroussel{
        position: relative; 
        z-index: 0; 
        width: 100%; 
        height: 400px; 
        overflow: hidden;
    }

    #carroussel img{
        width: 100%;
        position: absolute;
        aspect-ratio: 3 / 2;
        object-position: 0px;
    }

    #sectionAlbum #molduraImagem{
        top: 0px;
        left: 0px;
    }

    #sectionAlbum{
        padding: 40px 20px; 
        height: 450px;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
    }

    #anteriorImagem,
    #proximaImagem{
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px){
    #carroussel{
        height: 280px; 
    }

    #anteriorImagem,
    #proximaImagem{
        height: 280px; 
    }
}

@media screen and (max-width: 400px) {
    #carroussel{
        position: relative; 
        z-index: 0; 
        width: 100%; 
        height: 250px; 
        overflow: hidden;
    }

    #carroussel img{
        width: 100%;
        position: absolute;
        aspect-ratio: 3 / 2;
    }

    #anteriorImagem,
    #proximaImagem{
        height: 250px; 
    }
}




