main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    background-image: url(/img/fotobackgroundsobre.png);
    background-size: cover;
    color:#212121;
}

#section-sobre {
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    gap: 10px;
    border-radius: 5px;
    margin: 30px 70px 40px 70px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
    font-size: 14px;
    background-color: rgba(255,250,240,.7);
    box-shadow: 0px 0px 3px 0px #fcc1ec;
}

#section-desenvolvedores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding:10px;
    margin: 30px 70px 40px 70px;
}

.container-desenvolvedores {
    display: flex;
    justify-content: space-between;
    gap: 40px ;
}

.card-desenvolvedores {
    border: 0px;
    /* background-color: #fafafa; */
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding:10px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
    font-size: 14px;
    background-color: rgba(255,250,240,.7);
    box-shadow: 0px 0px 3px 0px #fcc1ec;
}

main img {
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px #fcc1ec;
}

@media screen and (max-width: 700px) { 
    #section-desenvolvedores {
        margin: 30px 50px 40px 50px;
    }

    #section-sobre {
        margin: 30px 50px 40px 50px;
    }
    
    .container-desenvolvedores {
        flex-direction: column;
    }

    .card-desenvolvedores {
        width: 100%; 
    }
}